
.menu {
	width: 200px;
	height: 34px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	transition: height 1s;
	color: rgb(15, 91, 157);
}

.menu:hover {
	height: 150px;
}

.prince {
	padding: 5px;
	height: 22px;
	margin-top: 0px;
	background-color: rgba(137, 194, 244, 0.5);
	border: solid rgb(15, 91, 157) 1px;
	border-radius: 20px 0px;
}

.second {
	margin-top: -3px;
	padding-bottom: 0px;
	padding: 5px;
	background-color: rgba(137, 194, 244, 0.5);
	border: solid rgb(15, 91, 157) 1px;
	border-radius: 20px 0px;
	margin-bottom: 1px;
}
